body {
    max-width: 1920px;
    margin: auto;
}
* {
    font-family: 'Inter';
    font-style: normal;
    line-height: 1.5;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

header {
    flex-direction: column;
    padding-inline: 0;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    align-items: center;
}

header .name {
    font-size: 26px;
    margin: 0;
}

header .nav, header .nav ul {
    width: 100%;
    padding: 0 0 0 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 0;
}
header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
}

.nav li {
    padding-inline: 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.social-link img {
    width: 20px;
}

#about, #contact {
    padding-inline: 2em;
    padding-block: 2em;
}

#about {
    flex-direction: column;
    display: flex;
    background-color: #F6D2B8;
    position: relative;
}

#about, #contact .container {
    align-items: center;
}

.picture {
    width: 80%;
    flex: 2;
    margin: 0 20px;
    z-index: 0;
}

.picture.left::before, .picture.right::before {
    height: 150px;
}

.picture.left::before {
    content: ' ';
    background-color: #E5975F;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: auto;
    left: 0;
}

.picture img {
    width: 100%;
}

img {
    vertical-align: middle;
}

#about-me {
    flex: 2;
}

.about-me__title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.about-me__introduction {
font-family: 'Spectral';
font-weight: 800;
font-style: italic;
width: 60%;
}

#about-me h6, #about-me p {
    width: 100%;
}

#about-me p {
    width: 80%;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    padding-block: 2em;
    font-size: 2rem;
}

figure, blockquote {
    margin: 0;
}

.quote {
    font-family: 'Spectral';
    font-style: italic;
    width: 70%;
    margin: auto;
    padding-block: 3em;
}

.quote__author {
    font-family: Spectral;
    font-weight: 800;
    font-size: 22px;
}

.quote__text {
    font-family: Spectral;
    font-style: italic;
    font-weight: 300;
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: 1rem;
}

#services {
    margin: auto;
    background-color: #A8D5D8;
    position: relative;
}

#services .container {
    justify-content: space-between;
    display: flex;
    padding: 2em 0;
    width: 80%;
    margin: auto;
    gap: 50px;
    align-items: center;
    flex-direction: column;
}

#services .container::before {
    content: ' ';
    background-color: #1C6474;
    position: absolute;
    width: 30%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 0;
}

.service {
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 2em 0;
    max-width: 90%;
}

.service__description {
    margin-bottom: 1em;
}

#contact {
    margin: auto;
    background-color: #D8D3A8;
    position: relative;
    padding-inline: 2em;
    padding-block: 2em;
}

#contact .container {
    display: flex;
    flex-direction: column;
}

.form-container {
    flex: 2;
}

.form-container h2 {
    font-size: calc(1.3rem + 0.6vw);
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

form input {
    width: 100%;
    background-color: transparent;
    border: solid 1px;
    height: 2.5em;
    margin-bottom: 20px;
}

form textarea {
    width: 100%;
    background-color: transparent;
    border: solid 1px;
    height: 5em;
    line-height: 2.5em;
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #BEB45A;
    padding: 0.5em 1em;
}

#contact .picture.right {
    margin-top: 1em;
}

.picture.right::before {
    content: ' ';
    background-color: #BEB45A;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (min-width: 1000px) {
    header {
        flex-direction: row;
        padding-inline: 100px;
    }

    header .nav, header .nav ul {
        width: inherit;
        padding: 0;
    }

    header .nav li {
        flex: inherit;
        padding-block: 0;
        text-align: inherit;
    }


    #about {
        flex-direction: row;
        padding-inline: 100px;
        padding-block: 100px;
    }
    .picture.left::before {
        width: 374px;
        height: 329px;
        bottom: 0;
        left: 0;
        top: auto;
    }

    #services .container {
        flex-direction: row;
        align-items: inherit;
    }

    #services .container::before {
        width: 100%;
        height: 30%;
    }

    .service {
        width: 30%;
        height: auto;
        margin: 0;
        max-width: 390px;
    }

    .service__description {
        margin-bottom: auto;
    }

    #contact {
        padding-inline: 100px;
        padding-block: 100px;
    }

    #contact .container {
        flex-direction: row;
    }

    form {
        width: 70%;
    }

    .picture {
        flex: 2;
        margin: 0 20px;
        z-index: 0;
        width: inherit;
    }

    #contact .picture.right {
        margin-top: 0;
    }

    .picture.right::before {
        content: ' ';
        background-color: #BEB45A;
        width: 374px;
        height: 329px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 1180px) {
    .picture {
        flex: 1;
    }
    .about-me__title {
        text-align: left;
    }

    #about {
        align-items: inherit;
    }

    .about-me__title {
        margin-bottom: 60px;
    }

    .gallery.container {
        justify-content: center;
    }
}
